* 
{
    margin: 0;
    padding: 0;
	border: 0;
	font-family: 'Ubuntu', sans-serif;
	text-decoration: none;
}

/* Main Site */

body
{
	 background:url('/images/30p.jpeg') no-repeat center center fixed;
	 -webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	 background-size: cover;
	 color: #3b4019;
}

#main_div
{
	 width: 100%;

}

#inner_container
{
	margin: 0px auto;
	margin-bottom: 20px;
	margin-top: 10px;
	width: 1070px;
}

#header
{
	height: 80px;
	width: 1070px;
	margin: 0px auto;
	margin-bottom: 20px;
	border-radius: 8px;
	box-shadow: 3 3 16px rgba(0, 0, 0, .6);
   	font-weight: heavy; 
   	font-style: normal; 
   	font-size: 36px;
   	color: #d8d9ba;
   	background-color: rgba(38,15,1, .86);
}

#header a:link 
{
	text-decoration: none;	
	COLOR: #d8d9ba;

}

#header a:visited 
{
	COLOR: #d8d9ba;
}

#header a:hover
{

	COLOR: #d8d9ba;
}

#header #text
{	
	float: left;
	width: 200px;
	margin-left: 20px;
	line-height: 80px;
}

#header #nav
{
	float: right;
	margin-right: 40px;
	height: 80px;

}

#header #nav li
{
	display: inline;
	list-style-type; none;
	padding-right: 20px;
	font-size: 16px;
	line-height: 80px;
}

#content
{
	float: left;
	width: 760px;
	min-height: 700px;
	border-radius: 8px;
	box-shadow: 0 0 6px rgba(0, 0, 0, .2);
	margin-bottom: 10px;
	line-height: 20px;
	font-size: 15px;
    background-color: rgba(115,66,7, .86);
}

#content #headline
{
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	height: 30px;
   	background-color: rgba(32,33,25, .86);
   	color: #d8d9ba;
   	box-shadow: 0 0 6px rgba(0, 0, 0, .2);
   	line-height: 30px;
   	padding-left: 20px;
}

#archive
{
	margin: 20px;
}

#archive h1
{
	margin-bottom: 20px;
}

#archive ul
{
list-style-type: none;
}

#archive ul li
{
padding-left: 14px;
padding-bottom: 5px; 
}

#sidebar
{
	float: right;
	width: 300px;
	background-color: rgba(115,66,7, .86);
	border-radius: 8px;
	box-shadow: 0 0 6px rgba(0, 0, 0, .2);
	height: 700px;
	margin-bottom: 10px;
	line-height: 20px;
	font-size: 15px;	
}

#sidebar #sidebar_content
{
    margin: 10px, auto;
}
#sidebar #sidebar_content ul
{
	list-style-type: none;
}

#footer
{
	width: 1070px;
	clear: both;
	border-radius: 8px;
	box-shadow: 0 0 6px rgba(0, 0, 0, .2);
	height: 50px;
    background-color: rgba(38,15,1, .86);
	color: #d8d9ba;
}

#footer #text
{	
	margin-left: 20px;
	line-height: 50px;
}



/* Posts */
.post
{
	text-align:justify;
	text-justify:inter-word;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-left: 30px;
	padding-right: 30px;
}

#posts h2
{
	margin-bottom: 5px;
}

.post_date
{
	font-style: italic; 
   	font-size: 12px;
   	margin-bottom: 15px;
}

/* Page wide Links */

a:link 
{
	text-decoration: none;	
	COLOR: #3b4019;

}

a:visited 
{
	COLOR: #3b4019;
}

a:hover
{

	COLOR: #3b4019;
}

/* Extras */

#twitter_update_list {
    vertical-align: middle;
    font-size: 13px;
	line-height: 21px;
	list-style: none;
	}
#twitter_update_list li {
	padding-bottom: 7px;
	margin-bottom: 9px;
	}
#twitter_update_list span, #twitter_update_list span a {

	text-decoration: none;
	}
#twitter_update_list a {

	}

#disqus_thread
{
	margin: 0px;
    width: 250px;
}


/* Sticky Note-Like Box */

.sticky_div {
  width: 250px;
  margin: auto;
  margin-top: 50px;
}


/* Sticky stuff */

.sticky {
  -webkit-box-shadow: #DDD 0px 1px 2px;
  position: relative;
  background-color: rgba(244,243,158,1);
  border-color: #DEE184;
  text-align: center;
  margin: auto;
  padding: 1.5em 1em;
  -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
  box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
  font-family: Chalkboard, 'Comic Sans';
  height: 200px;
}
.sticky.taped:after {
  display: block;
  content: "";
  position: absolute; 
  width: 150px;
  height: 35px;
  top: -21px;
  left: 20%;    
  background: transparent url(/images/tape.png) 0 0 no-repeat;
}
