<html>
    <head>
        <title>{{ page.title }} | {{ site.name }}</title>
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" media="screen" href="http://openfontlibrary.org/face/junction" rel="stylesheet" type="text/css"/>
		<link rel="stylesheet" href="/styles.css" type="text/css" media="screen">
        <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    </head>
        <body>
			<div id="pin"><p>Pin</p></div>
            <div id="main_div">
    
                <div id="inner_container">
    
                    <div id="header">
                        <div id="text"><a href="index.html" alt="Adam Gary" >Adam Gary</a></div>
                        
                        <div id="nav">
                            <ul>
                                <li><a href="/index.html">Home</a></li>
                                <li><a href="/about.html">About</a></li>
                                <li><a href="/archive.html">Archive</a></li>
                            </ul>
                        </div> <!-- End Nav -->
                        
                    </div> <!-- End header -->
    
                    <div id="content">
                        <div class="headline">{{ page.title }}</div>
						<hr />
                        {{ content }}
                    </div> <!-- End Content -->
        
                    <div id="sidebar">
                        <div id="sidebar_content">
                            <div class="headline">Goodies</div>
							<hr />

							
							<div class="content_block">
<!--								<div class="heading"><h4>Share This Page</h4><hr /></div>
                        		<div class="shr_class shareaholic-show-on-load"></div>
							</div>
-->							
							<div class="content_block">
								<div class="heading"><h4>Last Tweet</h4><hr /></div>
                            	<div class="sticky_div">
                                	<div class="sticky taped"><p id="twitter_update_list">I am sorry but the last Tweet Failed to Load. Please refresh this page or try again later.</p></div>   
                            	</div> <!-- End sticky -->
							</div>
                            
                        </div> <!-- End sidebar_content -->
                        
                    </div> <!-- End sidebar -->
            
                </div> <!-- End inner -->
                
                <div id="footer">
                    <div id="text">Copyright &copy; 2012 <a href="about.html" id="scale_link">Adam Gary</a></div>
                </div>
                
            </div> <!-- End Main -->

    </body> <!-- End body -->
</html> <!-- End html -->
